LDAP_URL = 'ldaps://ldap.yourdomain.com:636'
LDAP_USER = 'cn=youruser,dc=yourdomain,dc=com'
LDAP_PASSWORD = 'yourpassword'
LDAP_USER_SEARCH_BASE_DN = "dc=yourdomain,dc=com"
MAIL_FROM = 'mailer@yourdomain.com'
